<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Add client-id and redirect-uri url for this application here -->
    <add key="application-id" value="ADD_APPLICATION_ID_HERE" />
    <add key="redirect-uri" value="ADD_REDIRECT_URI_HERE" />

    <!-- add Azure AD account name and password for account with Power BI Pro license -->
    <!-- if you leave these settings blank, user will be presented with interactive login -->
    <add key="aad-account-name" value="ADD_USER_NAME_HERE" />
    <add key="aad-account-password" value="ADD_USER_PASSWORD_HERE" />

  </appSettings>
</configuration>